*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales del navbar */
.navbar {
    background: radial-gradient(circle at 10% 20%, rgb(69, 86, 102) 0%, rgb(34, 34, 34) 90%);
    height: 80px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

/* Estilos del texto a la izquierda */
.navbar-left {
    font-size: 1.5rem;
}

/* Estilos de los enlaces a la derecha */
.navbar-right {
    display: flex;
    align-items: center;
}

/* Estilos de los enlaces de navegación */
.navbar-link {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    font-size: 1rem;
}

.navbar-logo {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}

/* Estilos para el enlace de cerrar sesión */
.logout-link {
    display: flex;
    align-items: center;
}

/* Estilos para el ícono de cerrar sesión */
.icon {
    font-size: 1.2rem;
    margin-right: 5px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 300;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 2rem;
}

.producto {
    max-width: 300px;
    height: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.producto:hover {
    transform: scale(1.03);
}

.producto-imagen {
    max-width: 100%;
    height: auto;
}

.producto-nombre {
    font-size: 20px;
    margin: 10px 0;
}

.producto-descripcion {
    margin: 10px 0;
}

.producto-precio {
    font-weight: bold;
    color: #333;
}

.producto-categoria {
    font-style: italic;
    color: #666;
}

.product-detail-link {
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color del texto */
    text-decoration: none; /* Quita la subrayado del enlace */
    padding: 8px 16px; /* Espacio interno del botón */
    border-radius: 4px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
    display: inline-block; /* Hace que el botón ocupe solo el espacio necesario */
}

.product-detail-link:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse sobre el botón */
}

p {
    text-align: center;
}

/* Estilos para los botones de paginación */
.pagination-controls {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.pagination-controls button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
}

.pagination-controls button:hover {
    background-color: #0056b3;
}

/* Estilos para la página actual */
.current-page {
    font-weight: bold;
}

/* Estilos para el formulario de filtros */
.filter-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para las opciones de filtro */
.filter-options {
    display: flex;
    align-items: center;
}

/* Estilos para los select y las entradas de texto */
.filter-select,
.filter-input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilos para el botón de filtro */
.filter-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-button:hover {
    background-color: #0056b3;
}
