<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="./styles/perfil.css">
</head>
<body>
    <div class="profile-container">
        <div class="profile-name">{{nombreUsuario}}</div>
        <div class="profile-job-title">Su id es {{userId}}</div>
        <form action="/enviar-correo" method="post">
            <input type="hidden" name="nombre" value="{{nombreUsuario}}">
            <input type="hidden" name="email" value="{{userEmail}}">
            <button class="reset-password-button" type="submit">Restablecer Contraseña</button>
        </form>
    </div>
</body>
</html>
