<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Usuarios</title>
</head>

<body>
    <h1>Usuarios</h1>
    <h2>Modifica el rol del usuario mediante su ID</h2>
    <!-- Formulario para cambiar el rol del usuario por ID -->
    <form action="/premium" method="post">
        <label for="userIdToUpdate">ID del usuario:</label>
        <input type="text" name="userIdToUpdate" id="userIdToUpdate" />

        <label for="newRole">Nuevo rol (user/premium):</label>
        <input type="text" name="newRole" id="newRole" />

        <button type="submit">Cambiar Rol</button>
    </form>
</body>

</html>
